# Exercise 6: Weather anomalies (10 points)

The aim of this exercise is to analyze historical weather data. In Problem 1 you read in a tricky data file and explore it's contents. In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius. In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

### Tips for completing this exercise

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-1.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

## Problem 1 - Reading in a tricky data file (2 points)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (1 point)

You should start by loading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [1]:
import pandas as pd

fp = r'data/1091402.txt'
data = pd.read_csv(fp, skiprows=[1], na_values=-9999, delim_whitespace=True)

# YOUR CODE HERE
# raise NotImplementedError()

In [2]:
# Check that the dataframe looks ok:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

In [3]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
23711,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

### Part 2 (1 point)

In this section, you will calculate some basic statistics of the input data.

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`

In [4]:
tavg_nodata_count = data['TAVG'].isna().sum()

# YOUR CODE HERE
# raise NotImplementedError()

In [5]:
# Print out the solution:
print(f'Number of no-data values in column "TAVG": {tavg_nodata_count}')

Number of no-data values in column "TAVG": 3308

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [6]:
tmin_nodata_count = data['TMIN'].isna().sum()

# YOUR CODE HERE
# raise NotImplementedError()

In [7]:
# Print out the solution:
print(f'Number of no-data values in column "TMIN": {tmin_nodata_count}')

Number of no-data values in column "TMIN": 365

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [10]:
day_count = len(data)

# YOUR CODE HERE
# raise NotImplementedError()

In [11]:
# Print out the solution:
print(f'Number of days: {day_count}')

Number of days: 23716

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [12]:
first_obs = data['DATE'][0]

# YOUR CODE HERE
# raise NotImplementedError()

In [13]:
# Print out the solution:
print(f'Date of the first observation: {first_obs}')

Date of the first observation: 19520101

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [14]:
last_obs = data['DATE'].loc[len(data) - 1]

# YOUR CODE HERE
# raise NotImplementedError()

In [15]:
# Print out the solution:
print(f'Date of the last observation: {last_obs}')

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [16]:
avg_temp = data['TAVG'].mean()

# YOUR CODE HERE
# raise NotImplementedError()

In [17]:
# Print out the solution:
print(f'Average temperature (F) for the whole dataset: {round(avg_temp, 2)}')

Average temperature (F) for the whole dataset: 41.32

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [18]:
data['YEAR_MONTH'] = data['DATE'].astype(str).str.slice(start=0, stop=6)
summer_1969 = data.loc[(data['YEAR_MONTH'] == '196905') | (data['YEAR_MONTH'] == '196906') | (data['YEAR_MONTH'] == '196907') | (data['YEAR_MONTH'] == '196908')]

avg_temp_1969 = summer_1969['TMAX'].mean()

# YOUR CODE HERE
# raise NotImplementedError()

In [19]:
# This test print should print a number
print(f'Average temperature (F) for the Summer of 69: {round(avg_temp_1969, 2)}')

Average temperature (F) for the Summer of 69: 67.82

## Problem 2 - Calculating monthly average temperatures (3 points)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do

*Hint: you can start by creating a new column with a label for each month and then continue grouping the data based on this information.*

In [20]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,YEAR_MONTH
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,195201
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,195201
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,195201
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,195201
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,195201

In [42]:
grouped = data.groupby('YEAR_MONTH')

monthly_data = pd.DataFrame()

for key, month in grouped:    
    mean_values = month[['TAVG']].mean()    
    mean_values['YEAR_MONTH'] = key
    monthly_data = monthly_data.append(mean_values, ignore_index = True)

monthly_data['temp_celsius'] = (monthly_data['TAVG'] - 32) * 5/9
monthly_data.head()

# YOUR CODE HERE
# raise NotImplementedError()

        TAVG YEAR_MONTH  temp_celsius
0  29.478261     195201     -1.400966
1  24.800000     195202     -4.000000
2  13.807692     195203    -10.106838
3  39.607143     195204      4.226190
4  44.666667     195205      7.037037

In [34]:
monthly_data_2 = grouped[['TAVG']].mean()
monthly_data_2['temp_celsius'] = (monthly_data_2['TAVG'] - 32) * 5/9
monthly_data_2.head()

                 TAVG  temp_celsius
YEAR_MONTH
195201      29.478261     -1.400966
195202      24.800000     -4.000000
195203      13.807692    -10.106838
195204      39.607143      4.226190
195205      44.666667      7.037037

In [35]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

790

In [36]:
# This test print should print the column names of monthly_data
print(monthly_data.columns.values)

['TAVG' 'YEAR_MONTH' 'temp_celsius']

In [37]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

5.097114347669992

In [38]:
# This test print should print the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

4.73

## Problem 3 - Calculating temperature anomalies (5 points)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to an observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1:

- Calculating ***the mean temperature for each month over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table and figure below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius.
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2:

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html)) between `monthly_data` and `ref_temps` based on the month.
    - Temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`) 
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame: 
1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the mean temperature during the reference period (e.g., for February 1952 to 1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

A summary of the relationships between the `monthly_data` and `reference_temps` DataFrames, as well as how the `diff` value should be calculated in the `monthly_data` DataFrame is presented in the figure below.

![Exercise 6 dataframes](img/exercise-6-dataframes.png)<br/>
*Figure 1. Relationships between the `monthly_data` and `reference_temps` DataFrames.*

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code.

In [43]:
monthly_data.head()

        TAVG YEAR_MONTH  temp_celsius
0  29.478261     195201     -1.400966
1  24.800000     195202     -4.000000
2  13.807692     195203    -10.106838
3  39.607143     195204      4.226190
4  44.666667     195205      7.037037

In [56]:
# YOUR CODE HERE
monthly_data['month'] = monthly_data['YEAR_MONTH'].str.slice(start=4, stop=6)

grouped_month = monthly_data.groupby('month')

reference_months = pd.DataFrame()

for key, month in grouped_month:
    mean_values = month[['temp_celsius']].mean()
    mean_values['month'] = key
    reference_months = reference_months.append(mean_values, ignore_index=True)

reference_months = reference_months.rename(columns={'temp_celsius':'ref_temp'})
reference_months = reference_months[['month', 'ref_temp']]

monthly_data = monthly_data.merge(reference_months, on='month')
monthly_data['diff'] = monthly_data['temp_celsius'] - monthly_data['ref_temp']

#raise NotImplementedError()

In [57]:
reference_months.head()

  month   ref_temp
0    01  -5.350916
1    02  -5.941307
2    03  -2.440364
3    04   3.423785
4    05  10.179938

In [58]:
# Check the monthly data:
monthly_data.head()

        TAVG YEAR_MONTH  temp_celsius month  ref_temp      diff
0  29.478261     195201     -1.400966    01 -5.350916  3.949950
1  22.285714     195301     -5.396825    01 -5.350916 -0.045909
2  19.269231     195401     -7.072650    01 -5.350916 -1.721733
3  22.148148     195501     -5.473251    01 -5.350916 -0.122335
4  17.360000     195601     -8.133333    01 -5.350916 -2.782417

In [59]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

       temp_celsius    ref_temp          diff
count    682.000000  790.000000  6.820000e+02
mean       5.097114    5.094564  4.558100e-16
std        8.483949    8.102228  2.511899e+00
min      -17.974910   -5.941307 -1.262399e+01
25%       -1.685185   -2.440364 -1.520885e+00
50%        4.726105    5.487785  1.173686e-01
75%       12.870370   13.649932  1.667551e+00
max       22.329749   17.280519  7.111942e+00

Remember also to calculate which month had the largest temperature anomaly during the observed time period in comparison with the reference data. Use the cell below to calculate and print out the answers. Note, you may want to consider the largest absolute value of the temperature anomaly, as well as the largest positive and negative anomalies.

In [60]:
# YOUR CODE HERE
monthly_data.sort_values(by='diff', ascending=False, key=abs)

#raise NotImplementedError()

         TAVG YEAR_MONTH  temp_celsius month  ref_temp       diff
35  -0.354839     198701    -17.974910    01 -5.350916 -12.623994
33   4.064516     198501    -15.519713    01 -5.350916 -10.168797
751  9.032258     197812    -12.759857    12 -3.211359  -9.548497
99   4.785714     198502    -15.119048    02 -5.941307  -9.177741
70   5.809524     195602    -14.550265    02 -5.941307  -8.608958
..        ...        ...           ...   ...       ...        ...
741       NaN     196812           NaN    12 -3.211359        NaN
742       NaN     196912           NaN    12 -3.211359        NaN
743       NaN     197012           NaN    12 -3.211359        NaN
744       NaN     197112           NaN    12 -3.211359        NaN
745       NaN     197212           NaN    12 -3.211359        NaN

[790 rows x 6 columns]

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)